<mat-selection-list #blogposts>
  <mat-list-option *ngFor="let bp of allBlogposts" [value]="bp._id">
    {{bp.title}}
  </mat-list-option>
</mat-selection-list>
<mat-card>Blog posts selected: {{blogposts.selectedOptions.selected.length}}</mat-card>

<mat-divider></mat-divider>
<mat-card>
  <mat-card-actions>
    <button mat-button 
      (click)="deleteBlogposts(blogposts.selectedOptions.selected)"
      *ngIf="blogposts.selectedOptions.selected.length > 0"
      >DELETE</button>
  </mat-card-actions>
</mat-card>

<app-blogpost-create></app-blogpost-create>
