.container {
  display: flex;
	align-items: center;
  flex-direction: column;
  min-height:100vh;
  /* border: 2px solid white; */
}

.blog-item {
  flex: 1 1 100%;
  align-items: stretch;
  width: 75%;
  /* border: 2px solid yellow; */
}

mat-card {
  flex: 1 1 100%;
  align-items: stretch;
  min-height:28vh;
  /* border: 2px solid green; */
}

mat-card  p {
  flex:1;
  width: 60%;
  /* border: 2px solid blue; */
} 

.blog-img {
  float: left;
  padding: 0px 10px 5px 10px;
}

@media all and (max-width:1100px) {
  mat-card  p {
    flex:1;
    width: 90%;
    /* border: 2px solid blue; */
  } 
}

@media all and (max-width:684px) {
  .blog-img {
    width: 45%;
  }

  mat-card  p {
    flex:1;
    width: 95%;
    /* border: 2px solid pink; */
  } 
}


@media all and (max-width:500px) {
  .blog-img {
    width: 25%;
  }

  mat-card  p {
    flex:1;
    width: 98%;
    /* border: 2px solid rgb(169, 203, 247); */
  } 
}

@media all and (max-width:300px) {
  .blog-img {
    display: none;
  }

  mat-card  p {
    flex:1;
    width: 100%;
    /* border: 2px solid #b6f7a9; */

  } 
}