<div class="container">
  <div *ngFor="let bp of blogPostList$ | async" class="blog-item">
    <mat-card>
      <mat-card-header class="no-margin all-titles">
        <mat-card-title><a [routerLink]="['/blog-posts', bp._id]">{{bp.title}}</a></mat-card-title>
        <mat-card-subtitle>{{bp.subTitle}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="imagesFolder + bp.smallImage" alt={{bp.title}} class="blog-img">
      <mat-card-content>
        <p [innerHTML]="bp.content">
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
